<form action="/post_signup" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label>
      <b>Alias</b>
    </label>
    <input type="text" placeholder="Enter Alias" name="alias" required>
    <div>
      <p>Select Avatar</p>
      <label class="avatars">
        <input type="radio" name="avatar" />
        <img src="https://hotemoji.com/images/emoji/t/p49esb1bdcsvt.png" alt="" />
      </label>

      <label class="avatars">
        <input type="radio" name="avatar" />
        <img src="https://hotemoji.com/images/emoji/c/1jbbabsmki9uc.png" alt="" />
      </label>

      <label class="avatars">
        <input type="radio" name="avatar" />
        <img src="https://hotemoji.com/images/emoji/r/1jbbabs1kr5bnr.png" alt="" />
      </label>

      <label class="avatars">
        <input type="radio" name="avatar" />
        <img src="https://hotemoji.com/images/emoji/t/4n2c0g1bdcsvt.png" alt="" />
      </label>

      <label class="avatars">
        <input type="radio" name="avatar" />
        <img src="https://hotemoji.com/images/emoji/n/1jbbabs7lsqan.png" alt="" />
      </label>

      <label class="avatars">
        <input type="radio" name="avatar" />
        <img src="https://hotemoji.com/images/emoji/h/4n2c0g1k6hokh.png" alt="" />
      </label>
    </div>
    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>